data-viewer {
  margin: 2em;
  display: block;

  table {
    border-collapse: collapse;
    border: 1px solid lightgray;

    th, td {
      padding: .3em;
      text-align: left;
    }

    th {
      background: lightgray;
      color: #222;
      letter-spacing: 1px;
      font-weight: normal;
      font-size: .8rem;
      font-family: var(--mono-font);
    }

    td {
      border: 1px solid lightgray;
      font-family: var(--phonetic-family);

      [data-header=url] {
        a {
          word-break: break-all;
        }
      }
    }
  }

  th, caption {
    font-weight: normal;
    font-family: var(--mono-font);
  }

  &.show-source {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    place-items: center;

    :first-child {
      justify-self: end;
    }

    :nth-child(2) {
      justify-self: start;
    }

    pre {
      background: #333;
      color: limegreen;
      padding: 1em;
    }
  }
}
